@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
}

h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

p {
  color: hsl(0, 0%, 55%);
  line-height: 1.6;
}

a, a:focus, a:visited, a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.mobile {
  display: none;
}

section {
  margin: 64px 165px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

.flex{
  display: flex;
  justify-content: space-between;
}

/* Header */

header {
  position: relative;
}

header img {
  position: relative;
  width: 100%;
}

header .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0,0.4);
}

header section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header .logo {
  width: 192px;
  float: left;
}

header nav {
  float: right;
}

nav li {
  text-decoration: none;
  padding: 6px 0px 20px 0;
  position: relative;
  margin-left: 33px;
}

nav li::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  ;
}

nav li::before {
  width: 0%;
  margin: 0 25%;
  bottom: 10px;
}

nav li:hover::before {
  width: 50%;
}

header h2 {
  border: solid 2px hsl(0, 0%, 100%);
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 4.8em;
  max-width: 573px;
  margin: 0;
  padding: 39px 37px 27px;
  position: absolute;
  bottom: 84px;
  line-height: 0.98;
}

/* Middle section */

.middle-section {
  position: relative;
  margin: 64px 165px 180px;
}

.image-content {
  width: 66%;
}

.middle-section img {
  margin-top: 92px;
  width: 100%;
}

.text-content {
  background-color: white;
  position: absolute;
  top: 276px;
  right: 0;
  padding: 48px 0 48px 98px;
  max-width: 40%;
}

.middle-section h3 {
  font-size: 3.2em;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  margin-block-end: 0.5em;
}

.creations-section{
  margin: 64px 165px 184px;
}

.creations-section h3 {
  font-size: 3.2em;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  margin: 0;
}

.creations-section .flex a {
  display: block;
  color: hsl(0, 0%, 0%);
  border: solid 1px hsl(0, 0%, 0%);
  line-height: 1;
  padding: 12px 38px;
  height: fit-content;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.creations-section .flex a:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.creations-section ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 79px;
}

.creations-section li a {
  display: flex;
  position: relative;
}

.creations-section li a img {
  width: 100%;
}

.creations-section li a:hover img {
  filter: opacity(0.3);
}

.creations-section li a .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4108018207282913) 73%, rgba(0, 0, 0, 0.5984768907563025) 100%);
}

.creations-section li a:hover .overlay {
  background: transparent;
}

.creations-section li a span {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  position: absolute;
  color: hsl(0, 0%, 100%);
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  font-size: 2.14em;
  padding: 0 0 32px 40px;
}

.creations-section li a:hover span {
  color: hsl(0, 0%, 41%);
}

footer {
  display: grid;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

footer section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
  margin: 40px 165px 20px;
}

footer .logo {
  max-width: 144px;
  margin-top: 4px;
}

footer .logo img {
  width: 100%;
}

footer .sections-nav {
  margin-top: 17px;
}

footer .sections-nav li {
  margin-left: 0;
  margin-right: 33px;
}

footer .social-nav, footer .copyright {
  display: flex;
  justify-content: flex-end;
}

footer .social-nav li {
  margin-left: 16px;
}

footer .copyright span {
  color: hsl(0, 0%, 41%);
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}